
/* START INDEX, HEADER, NAV */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.sidebar {
    background-color: #1B5E20 !important;
}

.active2 {
    background-color: #43A047 !important;
}

.sidebar-nav .hvr:hover {
    background-color: #43A047 !important; 
} 

.wrapper{
    width: 97%;
}

#logo{
    font-weight: bold;
    position: relative;
    top: 10px;;
}

.main-nav li a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

#nav1, #nav2{
    margin-bottom: 3px;
}

#nav3{
    position: relative;
    top: -2px;
    width: 20px;
    height: 16px;
}

#nav4{
    position: relative;
    top: -2px;
    width: 17px;
    height: 17px;
}

#nav5{
    position: relative;
    top: -2px;
    right: -3px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid rgb(224, 238, 193);
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.main-nav li a span img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


.tabel-kriteria thead{
    font-weight: bold;
}


.tabel-alternatif thead{
    font-weight: bold;
}

.row-tabel-alternatif .page-navigation a[data-selected] { 
    background-color : #43A047;  
}

.mt-100 {
    margin-top: 100px !important;
}
